{% extends "base.html" %}
{% load static %}

{% block body_class %}{% endblock %}

{% block extra_css %}


{% endblock extra_css %}

{% block content %}

<div class="flex h-full p-2">
    <div class = 'w-full flex justify-center'>
        <div class = "sm:mx-auto sm:w-full sm:max-w-sm">
            <form action="" method="POST" class="p-2 rounded-lg shadow-md bg-white fle">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="w-full justify-center align-middle flex">
                    <button class="btn-accent" type="submit">Erstellen</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}