{% extends "base.html" %}
{% load static %}

{% block body_class %}{% endblock %}

{% block extra_css %}


{% endblock extra_css %}

{% block content %}
<ul class="flex bg-white drop-shadow-md mb-3">
    <li class="px-3"><a href = '/' class="active">Schüler</a></li>
    {# TODO implement href for other categories#}
    <li class="px-3"><a href = '/teachers'>Lehrer</a></li>
</ul>
<div class="flex h-full p-2">
    <div class="flex p-2 rounded-lg shadow-md bg-white">
        <ul class="px-6 overflow-scroll">
            {% for student in students %}
                <li class="py-3 px-4 rounded-lg hover:bg-primary-50"><a href="{% url 'studentView' pk=student.id %}"> {{ student }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class = 'w-full flex justify-center'>
        <div class = "sm:mx-auto sm:w-full sm:max-w-sm">
            <h1 class="flex p-2 rounded-lg shadow-md bg-white mb-3">{{ student.firstName }} {{ student.lastName }}</h1>

            <form action="" method="POST" class="p-2 rounded-lg shadow-md bg-white fle">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="w-full justify-center align-middle flex">
                    <button class="btn-accent" type="submit">Aktualisieren</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}