@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    label {
        @apply block mb-2 text-sm font-medium text-gray-900
    }
    section {
        @apply bg-white
    }
    p {
        @apply
        mb-8
        lg:mb-16
        font-light
        text-center
        text-gray-500
        sm:text-xl
    }
    input {
        @apply
        block
        w-full
        rounded-lg
        border-0
        py-1.5
        text-gray-900
        shadow-sm
        ring-1
        ring-inset
        ring-gray-300
        placeholder:text-gray-400
        focus:ring-2
        focus:ring-inset
        focus:ring-indigo-600
        sm:text-sm
        sm:leading-6
    }
    h2 {
        @apply
        mb-4
        text-4xl
        tracking-tight
        font-extrabold
        text-center
        text-gray-900
    }
    form {
        @apply
        space-y-8
    }
    button {
        @apply
        py-3
        px-5
        text-sm
        font-medium
        text-center
        text-white
        rounded-lg
        bg-primary-700
        sm:w-fit
        hover:bg-primary-800
        focus:ring-4
        focus:outline-none
        focus:ring-primary-300
    }
}
