{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html class="h-full bg-white">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/SVS.css' %}">
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
  </head>
  <body class="h-full">
    {% block body %}

    {% if messages %}
    <div>
      <strong>{% trans "Messages:" %}</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
        <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    {% block content %}
    {% endblock %}
        </div>
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>